body, html, *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
main{
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: #007bff;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
nav a:hover{
    color: #0056b3;
}
a:hover{
    cursor: pointer;
}
a:active{
    color: #0056b3;
}
a:visited{
    color: #0056b3;
}
a:focus{
    color: #0056b3;
}
a:target{
    color: #0056b3;
}